%input#pomodoro{ :name => "pomodoro", :value => "pomodoro", :type => "button" }
%input#short{ :name => "short", :value => "short", :type => "button" }
%input#long{ :name => "long", :value => "long", :type => "button" }
%p.status No time like the present
#countdown
