!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %script{ :src => "/js/jquery.js", :type => "text/javascript" }
    %script{ :src => "/js/jquery.countdown.js", :type => "text/javascript" }
    %script{ :src => "/js/soundmanager2.js", :type => "text/javascript" }
    %script{ :src => "/js/pomodoro.js", :type => "text/javascript" }
    :javascript
      $(document).ready(function(){
        $("input[type=hidden][name=offset]").each(function() {
          setTimezoneOffset(this);
        });
      });
    - if timer
      :javascript
        $(document).ready(function(){
          tickTock('#{timer.class.label}',#{timer.to_js.join(",")});
        });
    %link{ :rel => 'stylesheet', :href => '/css/pomodoro.css', :type => 'text/css' }
    %title= @title || 'Pomodoro!'
  %body
    = yield

