#secondary-content
  %form#rename{:action => session_path(@session), :method => :post}
    %label== http://#{request.env['HTTP_HOST']}/
    %input{:type => 'text', :name => 'custom', :value => @session.display_name }
    %input{:type => 'hidden', :name => '_method', :value => 'put'}
    %input#long{ :value => "rename", :type => "submit" }
  %p
    %a{:href => '/faq', :rel => 'facebox'} What's this all about?

#timer_buttons
  - [Pomodoro,ShortBreak,LongBreak].each do |type|
    = haml(:form, {:layout => false}, {:session => @session, :type => type})

%p.status No timer like the present

#timer
#history
  %p Timer History
  %ul
    - @session.timers(:order => [:created_at.desc]).recent.each do |timer|
      %li== #{timer.class.label} <small>(#{timer.display_time})</small>

