%form#rename{:action => session_path(@session), :method => :post}
  %input{:type => 'text', :name => 'custom'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  %input#long{ :value => "rename", :type => "submit" }
#timer_buttons
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'timer', :value => 'pomo'}
    %input#pomodoro{ :value => "pomodoro", :type => "submit" }
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'timer', :value => 'short'}
    %input#short{ :value => "short", :type => "submit" }
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'timer', :value => 'long'}
    %input#long{ :value => "long", :type => "submit" }

%p.status No time like the present
#timer

