#secondary-content
  %form#rename{:action => session_path(@session), :method => :post}
    %input{:type => 'text', :name => 'custom'}
    %input{:type => 'hidden', :name => '_method', :value => 'put'}
    %input#long{ :value => "rename", :type => "submit" }
  %p looks like your next timer should be a...
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'type', :value => "#{next_timer.to_s}"}
    %input{:type => 'hidden', :name => 'offset', :value => '0'}
    %input{ :value => "#{next_timer.to_s.downcase}", :type => "submit" }

#timer_buttons
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'type', :value => 'Pomodoro'}
    %input{:type => 'hidden', :name => 'offset', :value => '0'}
    %input#pomodoro{ :value => "pomodoro", :type => "submit" }
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'type', :value => 'ShortBreak'}
    %input{:type => 'hidden', :name => 'offset', :value => '0'}
    %input#short{ :value => "short", :type => "submit" }
  %form{:action => session_timers_path(@session), :method => :post}
    %input{:type => 'hidden', :name => 'type', :value => 'LongBreak'}
    %input{:type => 'hidden', :name => 'offset', :value => '0'}
    %input#long{ :value => "long", :type => "submit" }

%p.status No timer like the present

#timer
#history
  %p Timer History
  %ul
    - @session.timers.recent.each do |timer|
      %li== #{timer.name} <small>(#{timer.display_time})</small>

