body{
  text-align:center;
  font:24px/1.231 "Georgia", serif;
  color: #524343;
}
a{ color: #e61717; }
a:visited{ color: #7b0404; }

body.expired{
  background-color: #e61717;
  color: #f69c9c;
}
body.expired a{ color: #fff; }
body.expired a:visited{ color: #f6c59c; }

.countdown_row{
  font-size:2.5em;
  color:#130a02;
  width: 11.3em;
  white-space: nowrap;
  margin:0 auto;
  text-align:left;
}
.countdown_amount{ font-size:3em; }
.countdown_section{ float:left; margin:1em; }

p.status{ margin-top:1.5em; }

#timer{ overflow:auto; }
#timer_buttons form{ display:inline; padding:0 5px 30px 10px; }
#timer_buttons form.next{background:url(/imgs/tomato_tiny.png) 50% 100% no-repeat}

#history small{ font-size:.9em; }
#history ul{
  text-align:left;
  width:350px;
  margin:0 auto;
}
#history ul li{ list-style:none; }

#secondary-content{
  position:absolute;
  width:300px;
  right:0.25em;
  top:0.5em;
  font-size:0.6em;
}
form#rename input[type=text]{ width: 60px; }
dl#faq{ text-align:left; font-size:0.75em; }
dl#faq dt{ font-weight:bold; }
dl#faq dd{ margin-left:0.5em; }

#twitter{ text-align:left; }
#twitter h2{ text-align:center; font-size:1.2em; margin:0.25em; }
#twitter ul, #twitter li{ margin:0; padding:0; list-style:none; }

