/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
  min-width: 880px;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* @end */

body {
  text-align: center;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background: #ccc;
}

a {
  color: #005f80;
}

a:visited {
  color: #7b0404;
}

.countdown_amount {
  display: inline-block;
  color: black;
  font: 12em Inconsolata, Monaco, "Courier New", Courier, mono;
  position: relative;
}

/* @group Timer Buttons */

#primary_controls form {
  display: inline-block;
  margin: 0;
  margin-right: -0.33em;
}

div#primary_controls{
  background: url(images/white-overlays.png) #444;
  background-position: 0 -128px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #303030;
}

body.expired #primary_controls form.next input[type="submit"] {
  background-color: #0a6e00;
  border-bottom-color: #083e03;
  border-right: 1px solid rgba(0, 0, 0, 0.33);
  border-left: 1px solid rgba(255,255,255,0.2);
  text-shadow: #0e5706 0 -1px 0;
}

body.expired #primary_controls form.current input[type="submit"] {
  background-color: #650b00;
  border-bottom-color: #3e0303;
  border-right: 1px solid rgba(0, 0, 0, 0.33);
  border-left: 1px solid rgba(255,255,255,0.2);
  text-shadow: #400404 0 -1px 0;
  color: white;
}

body #primary_controls form.current input[type="submit"] {
  background-color: #cca200;
  background-position: 0 -384px;
  border-bottom-color: #534002;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255,255,255,0.2);
  text-shadow: #c9bd7e 0 1px 0;
  color: #322319;
}

div#primary_controls input[type="submit"] {
  border: none;
  background: #262626 url(images/white-overlays.png);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #111;
  margin: 0.4em 0 0.33em;
  padding: 0.6em 1.25em;
  color: #eee;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
  cursor:pointer;
}

div#primary_controls input#pomodoro {
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;

}

div#primary_controls input#long {
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
}

div#primary_controls #reset {
  position: absolute;
  left: 0.5em;
  top: 1px;
}

div#primary_controls #reset input {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

div#primary_controls input[type="submit"]:hover {
  background-color: #333;
}

div#primary_controls form#rename{
  position: absolute;
  right: 1em;
  top: 0.33em;
  color: #aaa;
  font-size: 0.85em;
  margin: 0;
}

div#primary_controls form#rename label, div#primary_controls form#rename input[type=text]{
  font-size: 0.8em;
  font-family: Inconsolata, Monaco, "Courier New", Courier, mono;
  letter-spacing: -0.1em;
}

div#primary_controls form#rename input[type=text]{
  width: 7em !important;
}

div#primary_controls form#rename input[type="text"]{
  background: #222;
  border: none;
  color: #888;
  padding: 0.25em;
  width: 10em;
}

div#primary_controls form#rename input[type="text"]:focus {
  color: white;
}

div#primary_controls form#rename input[type="submit"]{
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  padding: 0.33em 0.75em;
}

/* @end */

/* @group Timer */

#timer {
  text-align: center;
  background: #eee;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid white;
}

#timer:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* @end */

/* @group History */

#history {
  background: #ccc;
  border-top: 1px solid #888;
}

#history h2 {
  border-top: 2px solid #bbb;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: bold;
  font-size: 0.85em;
  padding-top: 1.5em;
  margin-bottom: 1.25em;
  color: #444;
  text-shadow: 0 1px #eee;
}

#history small {
  font-size: .9em;
}

#history ul {
  text-align: left;
  width: 25em;
  margin: 0 auto;
}

#history ul li {
  padding: 0.5em 6em 0.6em 0.5em;
  background: #ddd;
  margin-bottom: 1px;
  position: relative;
}

#history ul li:first-child {
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

#history ul li:last-child {
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
}

#history ul li span.time {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
  font-size: 0.75em;
}

/* @end */

/* @group Footer */

#footer{
  width: 29.4em;
  margin: 3em auto 0;
  font-size: 0.85em;
  line-height: 1.33em;
  text-align: center;
}

#facebox dl#faq {
  text-align: left;
  font-size: 0.75em;
  color: #524343;
}

#facebox dl#faq dt {
  font-weight: bold;
}

#facebox dl#faq dd {
  margin-left: 0.5em;
}

#facebox a {
  color: #e61717;
}

#facebox a:visited {
  color: #7b0404;
}

#twitter ul, #twitter li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* @end */

#help {
  display:none;
  position:absolute;
  top:55px;
  left:10px;
  color:white;
  width:250px;
}

#help-container {
  position:relative;
  z-index:10;
  height:200px;
}

#help #help-container #background {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:200px;
  z-index:10;
  background-color:#000;
  -moz-opacity:.8;
  filter:alpha(opacity=80);
  opacity:.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#help #help-container #body {
  text-align: left;
  margin:10px;
  width:230px;
  position:absolute;
  z-index:11;
}

#help-container #body h3 {
  color: #cca200;
}

table.shortcuts {
  width:100%;
  margin-top:10px;
  font-size: .8em;
  list-style:none;
}
table.shortcuts td {padding-bottom:10px}

#help-container #close-help a {
  color: #cca200;
  font-size:.8em;
}

#help-container #close-help {
  margin-top:50px;
  float:right;
}
