%dl#faq
  %dt Why do I care?
  %dd The Pomodoro Technique can help you manage your time and stay focused without burning out.
  %dt What is a Pomodoro?
  %dd
    %a{href: 'http://italianfood.about.com/od/anitalianenglishglossary/g/aa050709.htm'} A tomato.
  %dt Well, but what is <em>this</em> Pomodoro?
  %dd A break and a focused block of work.
  %dt What order should I do things in?
  %dd Do sets of 4 Pomodoros. The first 3 should contain a short break. Have a long break after the 4th.
  %p
    %a{href: 'http://pomodorotechnique.com/'} Learn More
