%form{action: session_timers_path(session), method: :post, class: timer_class(session,type)}
  %input{type: 'hidden', name: 'type', value: type}
  %input{id: type.nick, value: type.label, type: 'submit'}
